/* /* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

*{
    font-family: "Open sans", sans-serif;
}

/* Shared styles */

.text-primary{
    color: rgb(253, 110, 10);
}
.dark-2{
    color: rgb(71, 71, 71);
}
.btn-primary{
    color: white;
    background-color: rgb(253, 110, 10);
    border: none;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
}
.btn-secondary{
    color: rgb(253, 110, 10);
    background-color: white;
    border:  1px solid rgb(253, 110, 10);  
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.section-description{
    text-align: center;
    color: #757575;
    font-size: 18px;
    margin: 0 auto;
    width: 800px;
}
.secondary-bg{
    background-color: #fff8f3;
}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul, .skills-container{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}

/* header styles */
.header{
    background-image: url("/images/developer.png"), url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 100px;

}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}
.banner-profile-pic{
    width: 585px;
}


/* About me section styles */
th, td{
    padding: 10px;
    margin: 100px;
}
table{
    width: 800px;
    margin: 50px auto;
    padding: 50px 0;
    
    border: 1px solid black;
}
.table-heading{
    color: #757575;
    font-weight: 300;
}
.about{
    text-align: left;
}

/* What I do section styles */
.what-i-do{
    margin: 200px 0;
}
/* Skills section styles */
.skills-container{

   padding: 50px;
   gap: 20px;
}
.skill-card{
    padding: 10px;
    box-shadow: 0px, 60px, 50px, 0px, black;
}